# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
eTetkik Server/src/main/java/com/kodlabs/doktorumyanimda/utils/Common.java

